*{ box-sizing: border-box; }
html {
	margin : 0;
	padding : 0;
    height: 100%;
}

div { margin-top: 2%; }
h1 { text-align: center;}
.coins {display : inline-block; width: 5%;}
.sales-l {margin-right: 2.2rem;}
.gains-l {margin-right: 1.22rem;}
.tax-l {}
input { width : 20% ; text-align: center;}
.event-button { width: 10%; margin-top: 3%; }
.event-button:hover { color : darkblue; background-color: white;}
.input-gain{ background-color: white; border : solid black 1px ; color: darkblue;}
