*{ box-sizing: border-box; }
html {
    height: 100%;
}
div { margin-top: 1%; }
h1 { text-align: center;}
.coins {display : inline-block; width: 5%;}
.sales-l {margin-right: 3%;}
.gains-l {margin-right: 1.6%;}
.tax-l {}
#vente{ width: 18.5%; }
input { width : 20% ; text-align: center;}
.event-button { width: 10%; }
.event-button:hover { color : darkblue; background-color: white;}
.input-gain{ background-color: white; border : solid black 1px ; color: darkblue; width: 18.333%;}
