*{ box-sizing: border-box; font-family: Arial, Helvetica, sans-serif }
html {
	margin : 0;
	padding : 0;
    height: 100%;
}
body {
	
	
}

div { margin-top: 2%; }
h1 {  float: left;  width: 40%; position: relative;}
.coins {display : inline-block; width: 10%;}
.sales-l {margin-right: 2.4rem;}
.achat-l {margin-right: 0.66rem;}
.gains-l {margin-right: 1.22rem;}
.benef-l {margin-right: 2.25rem;}
input { width : 20% ; text-align: center;}
.event-button { width: 10%; margin-top: 3%; }
.event-button:hover { color : darkblue; background-color: white;}
.input-gain,.input-benef{ background-color: rgb(212, 212, 211); border : solid black 1px ; color: darkblue;}
li {display: inline; margin-right:1rem; border : 1px solid black; font-size: larger; background-color: grey; padding-right: 1px;}
a { color : aqua; text-decoration: none;}
a:hover {color : blue; }
nav { float : left; margin: 1rem;}
.c1 {clear: both;}
header {  border: 1px solid black; overflow: hidden; padding-left: 1rem; border-radius: 4px; background-color: ;}
